<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
</head>
<body>
    <h1>Bem-vindo à Página Principal</h1>
    <p>Clique nos botões abaixo para acessar as funcionalidades:</p>
    
    <!-- Botão para acessar o mapa -->
    <a href="{{ url_for('index') }}">
        <button>Acessar Mapa</button>
    </a>

    <!-- Botão para acessar o gráfico -->
    <a href="{{ url_for('grafico') }}">
        <button>Acessar Gráfico</button>
    </a>
</body>
</html>