<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RIASP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Bem-vindo ao RIASP</h1>
        <p>Faça suas buscas por acidentes nas rodovias listadas abaixo:</p>
        
        <!-- Botão para acessar o mapa -->
        <a href="{{ url_for('index') }}">
            <button id="mapaBtn">Acessar Mapa Marker</button>
        </a>

        <!-- Botão para acessar o gráfico -->
        <a href="{{ url_for('grafico') }}">
            <button id="graficoBtn">Acessar Gráficos</button>
        </a>

        <!-- Botão para acessar o mapa Choropleth -->
        <a href="{{ url_for('choropleth') }}">
            <button id="regioesBtn">Acessar Mapa Choropleth</button>
        </a>

        <!-- Botão para acessar o mapa de calor -->
        <a href="{{ url_for('mapa_calor') }}">
            <button id="mapaCalorBtn">Acessar Mapa de Calor</button>
        </a>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>