<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RIASP</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>Bem Vindo ao RIAP </h1>
        <p>Faça suas buscas por acidentes nas rodovias listadas abaixo:</p>
        
        <!-- Botão para acessar o mapa -->
        <a href="{{ url_for('index') }}">
            <button id="mapaBtn">Acessar Mapa Marker</button>
        </a>

        <!-- Botão para acessar o gráfico -->
        <a href="{{ url_for('grafico') }}">
            <button id="graficoBtn">Acessar Gráficos</button>
        </a>

        <!-- Botão para acessar o gráfico -->
        <a href="{{ url_for('grafico') }}">
            <button id="regiõesbtn">Acessar Mapa Choropleth</button>
        </a>

        <!-- Botão para acessar o gráfico -->
        <a href="{{ url_for('grafico') }}">
            <button id="mapacalorbtnBtn">Acessar Mapa de calor</button>
        </a>
    </div>

    <script src="script.js"></script>
</body>
</html>